<table>
	<thead>
		<tr>
			<th>List </th>
			<th>Status</th>
			<th colspan="3" ></th>
		</tr>
	</thead>
	<tbody>
		<% @requests.each do |n| %>
		<tr>
			<%= form_for(n.user, method: :patch) do |f| %>
			<td><%= n.user.name %></td>
			<td><%= hidden_field_tag :user_id, n.user.id  %></td>
			<td><%= f.submit "Approve" %></td>
			<td><%= f.submit "Reject" %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
