<div class="row">
<div class="col-md-6 col-md-offset-3">
<% @requests.each do |n| %>
<% if n.status.nil? %>
  <div style="border: 1px solid black">
    <h1><%= n.user.name %></h1>
     <p><%= form_for(n, method: :patch) do |f| %>
     	<%= f.button "Accept", name: :request_status, value: :true %>
      	<%= f.button "Reject", name: :request_status, value: :false %>
      	<%= f.label :reason %>
      	<%= f.text_field :reason, class: 'form-control' %>
    	<% end %></p>
  </div> 
<% elsif !n.status %>
  <div style="border: 1px solid black">
  	    <h1><%= n.user.name %></h1>
     <p><%= form_for(n, method: :patch) do |f| %>
     	<b> rejected </b>
    	<% end %></p>
    </p>
<% elsif n.status %>
  <div style="border: 1px solid black">
  	    <h1><%= n.user.name %></h1>
     <p><%= form_for(n, method: :patch) do |f| %>
     	<b> accepted </b>
    	<% end %></p>
    </p>
  </div>
<% end %>
<% end %>
</div>
</div>
