<!DOCTYPE html>
<html>
  <head>
    <title>Viblo1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Log out", logout_path, method: :delete %>
    <% if logged_in? %>
      <% if current_user.kind == "seller" %>
        <h3>You are a seller</h3>
      <% elsif current_user.kind == "buyer" %>
        <% if current_user.requested == nil %>
          <%= link_to "become a seller", "/requests/new" %>
        <% elsif current_user.requested == "pending" %>
          <h3>Your request is being processed</h3>
        <% elsif current_user.requested == "rejected" %>
          <h3>You have been rejected</h3>
          <%= link_to "become a seller", "/requests/new" %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
